<div ng-controller="homeSearchController">
  <form ng-submit="doSearch()">
    <select class="form-control" ng-model="searchForm.strict" ng-init="searchForm.strict = 'true'">
      <option value="true">Match All</option>
      <option value="false">Match Any</option>
    </select>
    <div class="form-group">
      <label for="">Gender</label>
      <select class="form-control" ng-model="searchForm.gender">
        <option value="">Choose</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
        <option value="3">Undeclared</option>
        <option value="4">Fluid</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">First Name</label>
      <input type="text" ng-model="searchForm.names_firstName" value="">
    </div>
    <input type="submit" class="form-control" value="Submit">
  </form>
  <person ng-repeat="profile in searchProfiles" info="profile">

  </person>
</div>
