<div ng-controller="authLoginController">
  <form class="form" ng-submit="loginFn()">
    <div class="form-group">
      <label class="form-control" for="email">Email</label>
      <input class="form-control" type="text" ng-model="loginForm.email" value="">
    </div>
    <div class="form-group">
      <label class="form-control" for="email">Password</label>
      <input class="form-control" type="password" ng-model="loginForm.password" value="">
    </div>
    <input class="form-control" type="submit" value="Submit">
  </form>
</div>
