<div class="container" ng-controller="homeIndexController">
  <div class="col-xs-3">
    <div class="row">
      <div class="center">
        <span class="clickable" ng-click="getNew(5)">New</span> |
        <span class="clickable" ng-click="getMatches()">Matches</span> |
        <span class="clickable" ng-click="getPopular()">Popular</span> |
        <span class="clickable" ng-click="getNear()">Near Me</span> |
        <span class="clickable">Chatting</span>
      </div>
    </div>
    <div class="row">
      <img src="/img/loading.gif" alt="Loading" ng-hide="dataReceived" class="img-responsive"/>
      <person ng-show="dataReceived" ng-repeat="profile in profiles" info="profile">

      </person>
      <div class="row" ng-show="currentSelection=='popular'">
        <ul class="pager">
          <li class="previous" ng-click="getPopular(false)"><a>Previous</a></li>
          <li class="next" ng-click="getPopular(true)"><a>Next</a></li>
        </ul>
      </div>
      <div class="row" ng-show="currentSelection=='near'">
        <ul class="pager">
          <li class="previous" ng-click="getNear(false)"><a>Previous</a></li>
          <li class="next" ng-click="getNear(true)"><a>Next</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col-xs-1">

  </div>
  <div class="col-xs-8">
    <div ui-view></div>
  </div>
</div>
